# Ignorar proyecto Unity excepto archivos de configuración
/GOOGA2/*
!/GOOGA2/Assets
/GOOGA2/Assets/*
!/GOOGA2/Assets/Scripts
/GOOGA2/Assets/Scripts/*
!/GOOGA2/Assets/Scripts/Config
/GOOGA2/Assets/Scripts/Config/*
!/GOOGA2/Assets/Scripts/Config/*.cs